{% extends 'base.html' %}

{% block title %}Messages Between {{ other_user.name }}{% endblock %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">

        <table class="table">
            {% for message in messages %}
                <tr>
                    <td {% if message.reciever.id == user1.id %}class="bg-info" {% endif %} >{% if message.reciever.id == user1.id %}Me{% endif %}</td>
                    <td class="bg-info" >{{ message.body }}</td>
                    <td {% if message.reciever.id == other_user.id %}class="bg-info"{% endif %}>{% if message.reciever.id == other_user.id %}{{ other_user.name }}{% endif %}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Me</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success pull-right" value="Send" />
                        </form>
                    </td>
                    <td></td>
                </tr>
        </table>

    </div>
{% endblock %}