{% extends 'base.html' %}

{% block title %}List messages{% endblock %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>sender Name</th>
                <th>reciver Name</th>
                <th>Body</th>
                <!--<th>setting</th>-->
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.sender.name }}</td>
                    <td>{{ message.reciever.name }}</td>
                    <td>{{ message.body }}</td>
                   <!--<td><a href="/message/delete/{{ message.id }}" >Delete</a></td>-->
                </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}