{% extends 'base.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
            <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
    </ol>
        <table class="table table-bordered">

            {% for user in users %}
                {% if user.id != user1.id %}
                <tr>
                    <td><a href="/messages/{{ user.id }}"> {{ user.name }}</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}