{% extends 'base.html' %}
{% block title %}{{ forum.name }}{% endblock %}
{% block content %}

<div class="col-md-offset-2 col-md-8">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>

    </ol>
   {% if user1 and not forum.lock %}
    <div style="margin-bottom: 5px">
    <a href="/thread/add/{{ forum.id }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Thread</a>
    </div>
    {% endif %}
<div class="panel panel-primary">
          <div class="panel-heading">

            <span class="panel-title h3">{{ forum.name }}</span>
              {% if user1.role == 'a' %}
              <span class="pull-right">
              <span class="badge">
              <a href="/forum/delete/{{ forum.id }}"><span class="glyphicon glyphicon-minus"></span></a>
                  </span>
                    <span>&nbsp;</span>
              <span class="badge">
                <a href="/forum/edit/{{ forum.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                  </span>
                  </span>
              {% endif %}
          </div>
          <div class="panel-body">
          {% if forum.thread_set.all|length != 0 %}
            <table class="table table-bordered">
                <thead class="bg-info">
                    <tr >
                        <th>Thread Title<span class="pull-right">Replays</span> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for thread in forum.thread_set.all %}
                        {% if thread.sticky %}
                        <tr class="bg-success">
                            <td><a href="/thread/list/{{ thread.id }}"> {{ thread.title }} </a><span class="badge pull-right">{{ thread.replay_set.all|length }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    {% for thread in forum.thread_set.all %}
                        {% if not thread.sticky %}
                        <tr>
                            <td><a href="/thread/list/{{ thread.id }}"> {{ thread.title }} </a><span class="badge pull-right">{{ thread.replay_set.all|length }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
              No Threads To Display
            {% endif %}
          </div>

        </div>



    </div>

{% endblock %}
