{% extends 'base.html' %}
{% block title %}{{ thread.title }}{% endblock %}
{% block content %}

<div class="col-md-offset-2 col-md-8">

    <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="panel-title h3">{{ thread.title }}</span>
              {% if user1.role == 'a' or user1.id == thread.author.id %}
              <span class="pull-right">
              <span class="badge">
              <a href="/thread/delete/{{ thread.id }}"><span class="glyphicon glyphicon-minus"></span></a>
                  </span>
                    <span>&nbsp;</span>
              <span class="badge">
                <a href="/thread/edit/{{ thread.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                  </span>
                  </span>
              {% endif %}
          </div>
        <div class="panel-body">
        {%for replay in thread.replay_set.all %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="panel-title h3">{{ replay.author.name }} Say: </span>
                  {% if user1.role == 'a' or user1.id == replay.author.id %}
                  <span class="pull-right">
                  <span class="">
                  <a href="/replay/delete/{{ replay.id }}"><span class="glyphicon glyphicon-minus"></span></a>
                      </span>
                        <span>&nbsp;</span>
                  <span class="">
                    <a href="/replay/edit/{{ replay.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                      </span>
                      </span>
                  {% endif %}
              </div>
              <div class="panel-body">
                {{ replay.body }}
              </div>
              <div class="panel-footer">
                  {{ replay.time }}
              </div>
        </div>
    {%endfor%}
    </div>
    <div class="panel-footer">
        Author: {{ thread.author.name }}
        <div class="pull-right">
        {{ thread.time }}
            </div>
    </div>
</div>

    {% if user1 %}
        <div class="panel panel-primary">
          <div class="panel-heading">

            <span class="panel-title h3">Replay</span>

          </div>
          <div class="panel-body">
              <form method="post">
                  {% load crispy_forms_tags %}
                  {% csrf_token %}
                {{ form|crispy }}
                  <input type="submit" class="btn btn-success" value="Replay" />
              </form>
          </div>

        </div>
{% endif %}
</div>
{% endblock %}
